{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Login
{% endblock %}
{% block error %}
<div class="form-group" style="margin-left: 25%;margin-right: 25%;">
{{error}}
</div>
{% endblock %}

{% block content %}
    <div class="form-group" style="margin-left: 25%;margin-right: 25%;">
        <form class="form-group" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <label for="password">Current Password</label>
                <input required type="password" name="password">
                <br>
                <label for="password1">New Password</label>
                <input required type="password" name="password1">
                <br>

                <label for="password2">Confirm Password</label>
                <input required type="password" name="password2">
                <br>
            </fieldset>
            <button>
                Submit
            </button>
        </form>
    </div>
{% endblock %}

